.post {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-size: 16px;
    @media (min-width: $w-767) {
        flex-direction: row;
        justify-content: center;
    }
    @media (min-width: $w-1200) {
        max-width: 950px;
    }
    @media (min-width: $w-1300) {
        max-width: 1100px;
    }
    &__text {
        margin: 6px 16px;
        @media (min-width: $w-767) {
            margin-left: 24px;
            max-width: 500px;
        }
        @media (min-width: $w-1119) {
            margin-left: 34px;
        }
    }
    &__text-tablet {
        display: none;
        @media (min-width: $w-767) {
            display: inline-block;
        }
    }
    &__text-desktop {
        display: none;
        margin-bottom: 16px;
        @media (min-width: $w-1119) {
            display: inline-block;
        }
    }
    &__more {
        margin: 0 0 16px 0;
        @media (min-width: $w-767) {
            margin: 16px 0 0 0;
        }
    }
    &__image {
        border-radius: 6px;
        width: 100%;
        @media (min-width: 420px) {
            max-width: 420px;
            align-self: center;
        }
        @media (min-width: $w-767) {
            max-width: 500px;
            margin-right: 25px;
        }
    }
}