$backround-color: #f8f8f8;
$color-elements: #ffffff;
$color-buttons: #FF3E79;
$color-borders: #D9FFF5;
$color-important: #7E7E82;
$w-767: 767px;
$w-1119: 1119px;
$w-1200: 1200px;
$w-1050: 1050px;
$w-1200: 1200px;
$w-1300: 1300px;